.Dashboard {
  min-height: auto;
  /* background-color: red; */
  /* color:blue; */
  display:flex;
  flex-direction:row;
  width:70%;
  margin:auto;
  margin-bottom:auto;
  margin-top:75px;
  /* justify-content: space-around; */
  padding:10px;
  border-radius: 4px;
}

.left-dash {
width:65%;
display:flex;
flex-direction: column;
border-radius: 4px;
}
#make-postBox {
  display:flex;
  flex-direction: row;
}
#make-postBox>img {
  width:75px;
  height:75px;
  border-radius: 4px;
  margin-right:20px;
  margin-top: 8px;
}
a {
  margin:auto;
}
#make-post {
  width:550px;
  background:white;
  /* height:90px; */
  border-radius: 4px;

/* controls {post-type} position */
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

/* MAKING A POST FORM */
.post-form {
  width:100%;
  display:flex;
  flex-direction: column;
  text-align: left;
  margin-left:20px;
}
.post-form> input {
  border-width: 0px;


}
.post-form >input:focus {
  outline:none
}
.post-form >textarea {
  outline:none;
  border-width: 0px;
  resize: none;
}
.post-form >textarea:focus {
  outline:none;
  border-width: 0px
}
#submit-form {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
#submit-form>button {
  width:50px;
  height:30px;
  background-color: #1E2833;
  color:white;
}
#submit {
  width:50px;
  height:30px;
  background-image: linear-gradient(#2a69c9, #a847e0);
  color:white;
  margin-right:10px
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}
#post-form-title{
  font-size: 25px;
}
#post-form-post{
  display:flex;
  justify-content: flex-start;
  font-size: 17px;
  height:100px;
  text-align: left;

}
#post-form-tags{
  font-size: 15px;
  margin-bottom:20px;
}

#post-type {
  width:150px;
  margin:auto;
  display:flex;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;

}

#post-type:hover {
  transform: scale(1.2);
}
/* POSTS */
#lePost {
  width:100%;
  /* background:green; */
  border-radius: 4px;
  margin-top: 20px;
  display:flex;
  flex-direction: row;
}


/* poster pic options */
#lePost >img {
  width:75px;
  height:75px;
  margin:1px;
  margin-right:19px;
  border-radius: 5px
}
#aPost {
  width:550px;
  background-color:white;
  border-radius: 4px;
}
h1 {
  margin-left: 25px;
}
#aPost > h1 {
  font-family: 'Titillium Web', sans-serif;

}
h3 {
  margin-left:20px;
  margin-top:20px;
  margin-bottom:20px;
  color:black;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
}
.post-body {
  margin:20px;
  text-align:right;
}
#tags>ul,li {
 list-style:none;
 display:flex;
 flex-direction: row;
 margin:2px;
}
a {
  color:#202020;
  text-decoration:none;
  font-size:13px;
  margin:3px;
  margin-top:15px;
}
a:visited {
  color:#202020
}

#aPost>a {
  font-size: 30px;
  margin-left:30px;
  font-size: 40px;
  background: -webkit-linear-gradient(#b828e0, #286be0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  margin:auto
}
#post-pic {
  width:100%
}

.right-dash {
  width:30%;
  display:flex;
  flex-direction: column;
  border-radius: 4px;

}

#recommended {
  width:100%;
  height:240px;
  /* background: orange; */
  border-radius: 4px;

}
#radar {
  width:100%;
  height:540px;
  /* background: yellow; */
  border-radius: 4px;
  margin-top: 5px;
}
