.Dashboard {
  min-height: auto;
  background-color: red;
  color:blue;
  display:flex;
  flex-direction:row;
  width:70%;
  margin:auto;
  margin-bottom:auto;
  margin-top:75px;
  /* justify-content: space-around; */
  padding:10px;
  border-radius: 4px;
}

.left-dash {
width:65%;
display:flex;
flex-direction: column;
border-radius: 4px;
}
#make-postBox {
  display:flex;
  flex-direction: row;
}
#make-postBox>img {
  width:75px;
  height:75px;
  border-radius: 4px;
  margin-right:20px;
  margin-top: 8px;
}

#make-post {
  width:550px;
  background:white;
  height:90px;
  border-radius: 4px;

/* controls {post-type} position */
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}


#post-type {
  width:150px;
  margin:auto;
  display:flex;
  justify-content: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;

}

#post-type:hover {
  transform: scale(1.2);
}
/* POSTS */
#lePost {
  width:100%;
  height:650px;
  background:green;
  border-radius: 4px;
  margin-top: 20px;
  display:flex;
  flex-direction: row;
}

/* poster pic options */
#lePost >img {
  width:75px;
  height:75px;
  margin:1px;
  margin-right:19px;
  border-radius: 5px
}
#aPost {
  width:550px;
  height:700px;
  border-style: solid;
  border-color:red;
  background-color: 
}

.right-dash {
  width:30%;
  display:flex;
  flex-direction: column;
  border-radius: 4px;

}

#recommended {
  width:100%;
  height:240px;
  background: orange;
  border-radius: 4px;

}
#radar {
  width:100%;
  height:540px;
  background: yellow;
  border-radius: 4px;
  margin-top: 5px;
}
