/* #0b0c10 */
* {
  font-family: 'ZCOOL QingKe HuangYou', cursive;

}
.navbar  {
  width:100%;
  height:65px;
  background-color:#0B0c10;
  display:flex;
  flex-direction: row;
  list-style: none;
  position:fixed;
  border-image: linear-gradient(to left, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 2px;
  z-index: 200;
}
#navbar1 {
  width:718px;
  display:flex;
  flex-direction: row;
  float:left;
  margin: auto;
}
#navInput {
  width: 540px;
  height:34px;
  /* searchbar button border */

  background-color:#1f2833;
  margin-top:10px;
  margin-left:10px;
  font-size: 20px;
  color:silver;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size:22px;
  border-radius: 3px;
}
#navbar2 {
  width:300px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:auto;
  margin-left:500px;
  margin-right:20px;

  transition: all .5s ease-in-out
}
#nav-button:hover{
  transform:scale(1.2);
}
#create-post {
  width:32px;
  border-style: solid;
  border-radius:5px;
  border-color:#e26bef;
  background-color: white;
}
