.search-container {

  background-color:green;
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:90px;
}
h1 {
  margin:auto;
  /* color:white */
}
.something {
  background-color:green;
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:90px;
  opacity: 0.1
}
.modal>h1 {
  opacity:1.0;
  background-color:red;
}
